body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #81889c;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.overlap {
  display: flex;
  background-color: white;
  gap: 60px;
}
.progress{
  position: absolute;
  margin: 10px;
}

@media screen and (orientation: portrait) {
  .overlap {
    flex-direction: column;
    height: 568px;
    width: 320px;
  }

  .circle {
    height: 50%;
    width: 100%;
    align-items: flex-end;
    justify-content: center;
  }

  .props {
    height: 50%;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
  }
}

@media screen and (orientation: landscape) {
  .overlap {
    flex-direction: row;
    height: 320px;
    width: 568px;
  }

  .circle {
    height: 100%;
    width: 50%;
    align-items: center;
    justify-content: flex-end;
  }

  .props {
    height: 100%;
    width: 50%;
    justify-content: center;
    align-items: flex-start;
  }
}

.circle {
  display: flex;
}

.props {
  display: flex;
  flex-direction: column;
}

.prop {
  margin-bottom: 10px;
  display: flex;
  gap: 15px;
  align-items: center;
}

@keyframes rotate {
  from {
    transform: rotate(-90deg);
  }

  to {
    transform: rotate(270deg);
  }
}

.progress-ring__circle {
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  stroke: #2962ff;
  transition: 1s stroke-dashoffset;
}

.newIn {
  padding: 0;
  position: relative;
  border-radius: 100px;
  text-align: center;
  width: 43px;
  height: 23px;
  border: solid 1px black;
}

.toggler-wrapper {
  display: block;
  width: 45px;
  height: 25px;
  cursor: pointer;
  position: relative;
}

.toggler-wrapper input[type="checkbox"]:checked + .toggler-slider {
  background-color: #1100ff;
}

.toggler-wrapper .toggler-slider {
  background-color: #dfd9d9;
  position: absolute;
  border-radius: 100px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.toggler-wrapper .toggler-knob {
  position: absolute;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.toggler-wrapper.style-1
  input[type="checkbox"]:checked+ .toggler-slider .toggler-knob {
  left: calc(100% - 19px - 3px);
}

.toggler-wrapper.style-1 .toggler-knob {
  width: calc(25px - 6px);
  height: calc(25px - 6px);
  border-radius: 50%;
  left: 3px;
  top: 3px;
  background-color: #fff;
}

.toggler-wrapper input[type="checkbox"] {
  display: none;
}
